.wrapper{
  max-width: 1440px;
  margin:0 auto;
}

.menu {
  position: relative;
  height: 135px;
  text-align:center;
}

.button {
position: absolute;
top:44%;
left:48.5%;
}

body{
  /* base font, font size, base line height*/
  font-family:'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  background-color:#FFFFFF;
}

.wrapper1 {
  max-width: 1065px;
  margin:0 auto;
}


.hero-section{
display:block;
overflow: clip;
position: relative;
height: 630px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background: url(/images/inside-weather.jpg);
}

.frame-hero {
  position: absolute;
  width: 56%;
  top:50%;
  left:50%;
  height: 360px;
  transform: translate(-50%,-50%);
  text-align:center;
  background-color: #FFFFFF;
}

.hero-title { 
margin:17.5% auto 0;
/* h1 font*/
font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 86px;
line-height: 120%;
text-align: center;
color: #000000;
}

.hero-text{
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.wrapper2 {
  max-width: 1175px;
  margin:0 auto;
}

.biography {
display: flex;
flex-flow: row nowrap;
height: 840px;
margin-top:135px;
justify-content: flex-start;
align-items: center;
align-content: flex-start;
}

.image_biography {
align-self: flex-start;
flex: 1 1 47%;
max-width: 47%;
height: 840px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background: url(/images/jared-weiss.jpg);
}

.biographytext {
display: flex;
flex-basis: 7%;
height: 23px;
align-self: flex-start;
margin-top:3%;
/* biography block font*/
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;

color: #000000;

transform: rotate(-90deg);
}

.bio-txt-section {
display: flex;
flex: 1 1 auto;
flex-flow: column nowrap;
}

.biography-title {
display: flex;
flex-basis: 44%;
height: 230px;
align-self: flex-start;
flex: 1 1 auto;
margin:15% 11% 0;
/* margin-top:54%; */
/* h2 block font*/
font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 86px;
line-height: 115px;

color: #000000;
}

.bio-txt-about {
  display: flex;
  flex: 1 1 100%;
  width:88%;
  height: 42px;
  margin:0% 12% -8%;
  /* about block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  
  color: #0D0D0D;
}

.rectanglebio {
  display: flex;
  width: 3%;
  height: 4px;
  margin:20% 12% -2%;
  background: #0D0D0D;
}

.articlebio {
  display: flex;
  flex-basis: 38%;
  height: 124px;
  margin:0% 12% 16%;
  width:80%;
  /* article bio block font*/
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  
  color: #0D0D0D;  
}

.wrapper3 {
  max-width: 1337px;
  margin:0 auto;
}

.designers {
position: relative;
height: 619px;
top: 0px;
}

.designerstext {
  position: absolute;
  width: 7%;
  height: 24px;
  left: 72%;
  top: 29.3%;
  /* designers block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  color: #000000;
  transform: rotate(-90deg);
}

.imgJess {
  position: absolute;
  width: 47.5%;
  height: 538px;
  left: 1.5%;
  top: 169px;
  background: url(/images/spurwing-agency.jpg);
}

.textJess {
  position: absolute;
  width: 24%;
  height: 57px;
  left: 25%;
  top: 115%;
  /* textJess block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  
  color: #000000;
}

.imgKameron{
  position: absolute;
  width: 24%;
  height: 439.46px;
  left: 51%;
  top: 265px;
  background: url(/images/stil-P1.jpg);
}

.txtKameron{
  position: absolute;
  width: 24%;
  height: 57px;
  left: 51.5%;
  top: 114.5%;
  /* textJess block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  
  color: #000000;
}

.imgLouisse{
  position: absolute;
  width: 24%;
  height: 439.46px;
  left: 77%;
  margin-left:1px;
  top: 265px; 
  background: url(/images/stil_mv.jpg);
}

.txtLouisse{
position: absolute;
width: 24%;
height: 57px;
left: 77.5%;
top: 114.5%;
/* textLouisse block font*/
font-family: 'Roboto';
font-style: normal;
font-size: 16px;
line-height: 19px;

color: #000000;
}

.Testimonials {
  position: relative;
  height: 813px;
  left: 0px;
  top: 420px;  
}

.Testimonialstxt {
  position: absolute;
  width: 117px;
  height: 23px;
  left: 9%;
  top: -2%;
  /* Testimonials block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  
  color: #000000;
}

.TxtCreativity {
  position: absolute;
  width: 13%;
  height: 49px;
  left: 4.3%;
  top:78%;  
  /* TxtCreativity block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  transform: rotate(-90deg); 
}

.TxtCreativity1 {
  position: absolute;
  width: 13%;
  height: 49px;
  left: 4.3%;
  top:49.5%;  
  /* TxtCreativity block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  transform: rotate(-90deg);
}

.websitetxt{
  position:absolute;
  width: 13%;
  height:49px;
  left:4.3%;
  top:21.5%;
  /* website block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 19px; 
  color: #000000;
  
  transform: rotate(-90deg);
}

.frame30Testimonials{
  position: absolute;
  width: 82%;
  height: 760px;
  left: 10.2%;
  top: 7.5%;
}

.imgTestimonials{
  position: absolute;
  width: 43%;
  height: 757px;
  left: 5%;
  top: 0px;  
  background: url(/images/keghan-crossland.jpg);
}

.frame27Testimonials{
  padding: 0px;
  position: absolute;
  width: 40%;
  height: 760px;
  left: 54%;
  top: 8%;
}

.imgsinitta{
  position: absolute;
  width: 37%;
  height: 333px;
  left: 22.5%;
  top: 50.3%;
  background: url(/images/sinitta-leunen.jpg);
}

.articletestimonials{
  position: absolute;
  width: 43%;
  height: 304px;
  left: 20%;
  /* articletestimonials block font*/
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;

  color: #000000;
}

.wrapper4 {
  max-width: 1686px;
  margin:0 auto;
}

.strongpoints{
  position: relative;
  height: 665px;
  left:0px;
  top: 560px;
}

.strongtxt{
  position: absolute;
  width: 14%;
  height: 23px;
  left: 23.5%;
  top: -3%;
  /* strongtxt block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  transform: rotate(-90deg);
}

.imgstrong{
  position: absolute;
  width: 20.5%;
  height: 525px;
  left: 7.5%;
  top: 21%;
  background: url(/images/dawid-liberadzki.jpg)
}

.imgstrong1 {
  position: absolute;
  width: 20.5%;
  height: 525px;
  top: 21%;
  left: 30%;
  background: url(/images/avery-klein.jpg);
}

.imgstrong2 {
  position: absolute;
  width: 20.6%;
  height: 525px;
  top: 20.9%;
  left: 77.6%;
  background: url(/images/avery-klein.jpg);
}

.framestrong {
  padding: 0px 9px 18px;
  position: absolute;
  width: 23.4%;
  height: 40.6%;
  left: 52.5%;
  top: -13%;
}

.strength-title {
  width: 22.4%;
  height: 7%;
  /* h3 block font*/
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 86px;
  line-height: 115px;
  color: #000000;
}

.frame-txt-strength {
  position: absolute;
  padding: 0px; 
  width: 23.4%;
  height: 506.49px;
  top:220px;
  left:21%;
}

.txt-strength {
  position: absolute;
  width: 13.6%;
  /* txtframe14 block font*/
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  color: #000000;
}