.wrapper{
  max-width: 1440px;
  margin:0 auto;
  /* outline: 1px solid red; */
}

.menu {
  position: relative;
  height: 135px;
  text-align:center;
}

.button {
position: absolute;
top:44%;
left:48.5%;
}

body{
  /* base font, font size, base line height*/
  font-family:'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  background-color:#FFFFFF;
}

.wrapper1 {
  display:block;
  max-width: 1065px;
  margin:0 auto;
  /* outline: 1px solid red; */
}


.hero-section{
overflow: clip;
position: relative;
height: 630px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background: url(/images/inside-weather.jpg);
}

.frame-hero {
  position: absolute;
  width: 56%;
  top:50%;
  left:50%;
  height: 360px;
  transform: translate(-50%,-50%);
  text-align:center;
  background-color: #FFFFFF;
}

.hero-title { 
margin:17.5% auto 0;
/* h1 font*/
font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 86px;
line-height: 120%;
text-align: center;
color: #000000;
}

.hero-text{
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.wrapper2 {
  max-width: 1175px;
  margin:0 auto;
  /* outline: 1px solid red; */
}

.biography {
display: flex;
flex-flow: row nowrap;
height: 840px;
margin-top: 143px;
justify-content: flex-start;
align-items: center;
align-content: flex-start;
}

.image_biography {
align-self: flex-start;
flex: 1 1 47%;
max-width: 47%;
height: 840px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background: url(/images/jared-weiss.jpg);
}

.biographytext {
display: flex;
flex-basis: 8%;
height: 23px;
align-self: flex-start;
margin-top:3%;
/* biography block font*/
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;

color: #000000;

transform: rotate(-90deg);
}

.bio-txt-section {
display: flex;
flex: 1 1 auto;
flex-flow: column nowrap;
}

.biography-title {
display: flex;
flex-basis: 44%;
height: 230px;
align-self: flex-start;
flex: 1 1 auto;
margin: 5% 10% 5%;
/* margin-top:54%; */
/* h2 block font*/
font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 86px;
line-height: 115px;

color: #000000;
}

.list-bio {
  flex: 1 1 0;
  max-width:88%;
  margin:0% 2% 6%;
  list-style-type: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0D0D0D;
}

.list-item-bio {
  display: inline-block;
}

.list-item-bio::after {
  content: " /"
}

.list-item-bio:first-child::after {
  content: ""
}

.list-item-bio:last-child::after {
  content: ""
}

.articlebio::before {
  display: flex;
  content: "";
  width: 3%;
  height: 4px;
  margin:2% -3% 0%;
  background: #0D0D0D;
}

.articlebio {
  display: flex;
  flex-basis: 48%;
  height: 124px;
  margin:5% 13% 5%;
  width:87%;
  /* article bio block font*/
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  
  color: #0D0D0D;  
}

.wrapper3 {
  max-width: 1337px;
  margin:0 auto;
  /* outline: 1px solid red; */
  /* overflow-x: auto; */
  
}

.designers {
	display: flex;
	justify-content: flex-start;
	flex-flow: row nowrap;
	align-items: center;
	position: relative;
	/* outline: 1px solid red; */
	margin-top: 160px;
	overflow-x: auto;
  transform: translateX(0px);
}

.item-designer-big { 
  display: flex;
  flex: 1 0 50%; 
  flex-flow: column nowrap; 
}

.item-designer-middle { 
  display: flex;
  flex: 1 0 25%;  
  flex-flow: column nowrap; 
}

.designers-title {
  position: absolute;
  width: 7%;
  height: 24px;
  margin-left: 23.5%;
  margin-top: 2%;
  /* padding: 0rem;
  outline: 1px solid green; */
  /* designers block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  writing-mode: vertical-rl;
  transform: rotate(180deg) translateX(-15px);
}

.img-Designer1 {
  display: block;
  max-width: 95.4%;
  height: 538px;
  margin-top: -1%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/images/spurwing-agency.jpg);
  transform: translateX(20px) translateY(10px);
}

.list-Designer1 {
  display: block;
  list-style-type: none;
  max-width: 64%;
  height: 57px;
  margin-left: 41%;
  margin-top: 2.5%;
  transform: translateX(20px);
}

.list-skills
{
  display: block;
  list-style-type: none;
  max-width: 60%;
  height: 57px;
  margin-left: 41%;
  margin-top: -5%; 
  /* outline: 1px solid red; */
  transform: translateX(20px);
}

.designer_name {
  text-transform: uppercase;
}

.list-item-des {
  display: inline-block;
  max-width: 100%;
}
  
  .list-item-des::after {
    content: "/"
}

.list-item-des:first-child::after {
  content: ""
}

  .list-item-des:last-child::after {
    content: ""
}

.img-Designer2 {
  display: block;
  max-width: 95%;
  height: 439.46px;
  margin-left: 1%;
  margin-top: 17%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/images/stil-P1.jpg);
  transform: translateX(20px);
}

.list-Designer2 {
  list-style-type: none;
  max-width: 100%;
  height: 57px;
  margin-left: -6%;
  margin-top: 3%;
}

.list-skills-2
{
  display: block;
  list-style-type: none;
  max-width: 100%;
  margin-left: -6%;
  margin-top: -10%; 
  /* outline: 1px solid red; */
}

.img-Designer3 {
  display: block;
  max-width: 100%;
  height: 439.46px;
  margin-left:10%;
  margin-top: 27%; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/images/stil_mv.jpg);
  
}

.list-Designer3 {
list-style-type: none;
max-width: 70%;
height: 57px;
margin-left: 0%;
margin-top: 0%;
/* textLouisse block font*/
}

.list-skills-3
{
  display: block;
  list-style-type: none;
  max-width: 100%;
  height: 57px;
  margin-left: 0%;
  margin-top: -10%; 
  /* outline: 1px solid red; */
}

.img-Designer-4 {
  display: inline-block;
  width: 95.4%;
  height: 538px;
  margin-left:4%;
  margin-top: -1%; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/images/spurwing-agency.jpg);
  /* outline: 1px solid red; */
}

.list-Designer4 {
  display: block;
  list-style-type: none;
  max-width: 100%;
  height: 57px;
  margin-left: 0%;
  margin-top: 0%;
  /* textLouisse block font*/
  transform: translateX(0px);
  }
  
  .list-skills-4
  {
    display: block;
    list-style-type: none;
    max-width: 100%;
    height: 57px;
    margin-left: 0%;
    margin-top: -5%; 
    /* outline: 1px solid red; */
    transform: translateX(0px);
  }

.Testimonials {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1fr 3fr 3fr;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  height: 813px;
  left: 0px;
  margin-top: 195px;  
}

.item-testimonials-1 {
  grid-row:1 / 2;
  grid-column: 1 / 2; 
}

.Testimonials-title {
  width: 8%;
  height: 23px;
  margin-left: 65.5%;
  margin-top: -30%;
  /* Testimonials block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  
  color: #000000;
}

.item-testimonials-2 {
  grid-row: 2 / 3;
  grid-column: 1/2; 
}

.subtitle-1 {
  width: 13%;
  height: 49px;
  margin-left: 69%;
  margin-top: 5%;  
  /* TxtCreativity block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  transform: rotate(-90deg); 
}

.item-testimonials-3 {
  grid-row: 2 / 4;
  grid-column: 1/2; 
  margin-left: 75%;
  margin-top: 55%; 
}

.subtitle-2 {
  width: 13%;
  height: 49px;
   
  /* TxtCreativity block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  transform: rotate(-90deg);
}

.item-testimonials-4 {
  grid-row: 3 / 4;
  grid-column: 1/2; 
  margin-left: 75%;
  margin-top: 110%;
}

.subtitle-3 {
  width: 13%;
  height:49px;
  
  /* website block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 19px; 
  color: #000000;
  
  transform: rotate(-90deg);
}

a {
  text-decoration: none;
  color: black;
}

.item-testimonials-5 {
  grid-row: 1 / 4;
  grid-column: 2 / 4; 
}

.left-frame-Testimonials{
  display: block;
  /* max-width: 82%;
  height: 760px;
  margin-left: 0%;
  margin-top: 4.5%; */
}

.img-left-Testimonials{
  width: 41.5%;
  height: 757px;
  margin-left: 0%;
  margin-top: 4.5%; 
  /* max-width: 100%;  */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: url(/images/keghan-crossland.jpg);
}

.item-testimonials-6 {
  grid-row: 2 / 3;
  grid-column: 3 / 4; 
}

.article-testimonials{
  max-width: 100%;
  height: 304px;
  margin-left: -19%;
  margin-top: -21%;
  /* articletestimonials block font*/
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;

  color: #000000;
}

.item-testimonials-7 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;

}

.img-right-Testimonials {
  display: block;
  width: 36%;
  height: 333px;
  margin-left: 12.5%;
  margin-top: -10.5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: url(/images/sinitta-leunen.jpg);
}

.wrapper4 {
  max-width: 1686px;
  margin:0px auto;
  outline: 1px solid red;
  /* overflow:auto; */
}

.grid-strongpoints {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 252px;
  overflow: auto;
  > div {
    flex: 350px;
    margin: 15px;
  }
  
  
  @supports (display: grid) {
    position: relative;
    display: grid;
    grid-column-gap: 30px;
    overflow: auto;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-flow: column;
    margin-top: 252px;
    > div {
      margin: 0;
    }
  }
} 

.strongtxt{
  position: absolute;
  width: 23px;
  height: 122px;
  margin-left: 15%;
  margin-top: 0%;
  /* strongtxt block font*/
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  writing-mode: vertical-rl;
  transform: rotate(180deg) translate(-195px, 130px);
  outline: 1px solid red;
}

.strongpoints-title {
  position: absolute;
  max-width: 377px;
  min-height: 115px;
  margin: 0% 44%;
  transform: translate(0px, -135px);
  /* h3 block font*/
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 86px;
  line-height: 115px;
  color: #000000;
  outline: 1px solid red;
}

.imgstrong{
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 89%;
  height: 525px;
  /* min-width: 350px; */
  /* width: calc((100% / 4) - 30px); */
  transform: translate(122px, 0px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/images/dawid-liberadzki.jpg)
}

.imgstrong1 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 87%;
  height: 525px;
  padding-left:0%;
  /* min-width: 350px; */
  /* width: calc((100% / 4) - 30px); */
  transform: translate(82px, 0px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/images/avery-klein.jpg);
}

.imgstrong2 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 87%;
  height: 525px;
  /* min-width: 350px; */
  /* width: calc((100% / 4) - 30px); */
  transform: translate(20px, 0px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/images/avery-klein.jpg);
}

.frame-txt-strongpoints {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  height: 525px;
  /* min-width: 143px; */
  /* width: 25%; */
  transform: translate(0px, 0px);
}

.list-strongpoints {
  display: block;
  margin-left: 16%;
  /* position: absolute;
  max-width: 13.6%; */
  /* margin-top: 10%;
  margin-left:0%; */
}

.list-item-strongpoints {
  list-style-type: none;
  position: relative;
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  color: #000000;
}