*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper{
  max-width: 1440px;
  margin:0 auto;
}

.menu {
  position: relative;
  height: 135px;
  text-align:center;
}

.button {
position: absolute;
top:44%;
left:48.5%;
}

.menuheader {
  display: block;
}

.ul-menu-button {
  display: none;
  width: 315px;
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
 }

 .li-button .ul-menu-button {
  position: relative;
  display: none; 
  margin-left: 0; 
  margin-top: 0; 
  transform: translate(0, 0);
 }

 .li-button a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #666;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-bottom: none;
 }

.button:hover .ul-menu-button {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  order: -1;
  overflow: visible;
  margin-left: 0;
  transform: translate(-50%, 0%);
}

.brd {
  border-bottom: 1px solid #ccc;
 }

 .li-button::after {
  content: "";
 }

body{
    font-display: swap;
    font-family:'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    background-color:#FFFFFF;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Robotomedium.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Robotobold.woff);
  font-weight: 700;
  font-style: normal;
}

.wrapper_hero {
  max-width: 1065px;
  margin:0 auto;
}


.hero-section{
position: relative;
background-color: #d9cacb;
min-height: 630px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-image: url(../images/inside-weather.webp);
}

.frame-hero {
  position: absolute;
  width: 56%;
  top:50%;
  left:50%;
  height: 360px;
  transform: translate(-50%,-50%);
  text-align:center;
  background-color: #FFFFFF;
}

.title {
    font-display: swap;
    font-family: 'Playfair Display';
    font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Regular.eot');
	src: local('Playfair Display Medium'), local('PlayfairDisplay-Medium'),
		url('../fonts/PlayfairDisplay-Regular.eot') format('embedded-opentype'),
		url('../fonts/playfair-display-medium.woff') format('woff'),
		url('../fonts/playfair-display-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.hero-title { 
margin:17.5% auto 3%;
font-weight: 500;
font-size: 86px;
line-height: 120%;
text-align: center;
color: #000000;
}

.hero-text {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  font-display: swap;
}

.wrapper_bio {
  max-width: 1175px;
  margin:0 auto;
}

.biography {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  height: 840px;
  margin-top:135px;
  justify-content: flex-start;
  align-items: center;
  }
  
  .imagebio {
    align-self: flex-start;
    flex: 1 0 42%;
  }
  
  .bio_img_block{
    display: block;
    max-width: 100%;
    height:auto;
  }
  
  .image_biography {
  max-width: 100%;
  min-width: 100%;
  min-height: 840px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/jared-weiss.webp);
  }
  
  .biographytext {
  display: flex;
  flex-basis: 4%;
  height: 43px;
  align-self: flex-start;
  margin-top:2%;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  font-display: swap;
  color: #000000;
  
  transform: rotate(-90deg);
  }
  
  .bio-txt-section {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
  }
  
  .bio_title_block {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin: 0% 0% 0% 8%;
  }
  
  .biography-title {
    margin-top: 30px;
    font-weight: 500;
    font-size: 86px;
    line-height: 115px;
    transform: translate(0, -75px);
    color: #000000;
  }

  .bio_position {
    padding: 0;
    width: 50%;
    transform: translate(40px, -45px);
  }
  
  .list-bio {
    flex: 1 1 0;
    max-width:88%;
    margin: 0;
    list-style-type: none;
    transform: translate(40px, -45px);
  }
  
  .bio_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #0D0D0D;
    font-display: swap;
  }
  
  .list-item-bio {
    display: inline-block;
  }
  
  .list-item-bio::after {
    content: " /"
  }
  
  .list-item-bio:last-child::after {
    content: ""
  }
  
  .articlebio::before {
    display: flex;
    content: "";
    width: 3%;
    height: 4px;
    margin: 0;
    transform: translate(20px, 10px);
    background: #0D0D0D;
  }
  
  .articlebio {
    display: flex;
    flex: 1 1 auto;
    height: 124px;
    margin: 0;
    width:87%;
    /* article bio block font*/
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    transform: translate(20px, 0px);
    color: #0D0D0D; 
    font-display: swap; 
  }
  
  @font-face {
    font-family: 'Bitter Light';
    src: url('../fonts/BitterLight.eot');
    src: local('Bitter Light'), local('Bitter Light'),
        url('../fonts/BitterLight.eot') format('embedded-opentype'),
        url('../fonts/BitterLight.woff') format('woff'),
        url('../fonts/BitterLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

  .designer-wrap {
    max-width: 1337px;
    margin:160px auto;
  }
  
  .designers {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    overflow: auto;
    padding-bottom: 50px;
  }
  
  .item-designer-big { 
    flex-basis: 48%;
    flex: 1 1 auto;
  }

  
  .item-designer-middle { 
    flex-basis: 24%;
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  .item-designer-big > div {
    margin: 15px;
  }

  .item-designer-middle > div {
    margin-left: 15px;
  }
  
  .designers-title {
    position: relative;
    left: 75%;
    font-display: swap;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: -90px;
    /* designers block font*/
    color: #000000;
    writing-mode: vertical-rl;
    transform: rotate(180deg) translateX(0px) translateY(-5px);
  }
  
  .designer_name_title {
    display: inline-block;
    font-weight: 700;
    font-display: swap;
    text-transform: uppercase;
  }
  
  .name_designer_left{
    transform: translateX(-10px) translateY(0px);  
  }

  .img-Designer-box {
  display:block;
  background-color: #d9cacb;
  max-width: 100%;
  width:635.48px;
  min-width: 100%;
  max-height: 100%;
  min-height: 538px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-image: url(../images/spurwing-agency.webp);
  transform: translateX(0px) translateY(-5px);
  
  }

  
  .img-Designer-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
  }
  
  .list-box-big{
    display: block;
    max-width: 100%;
    padding-left: 50%;
  }
  
  .list-box{
    display: block;
    max-width: 100%;
    min-height: auto;
  }
  
  .list-Designer-big {
    margin: 0; padding: 0;
    max-width: 100%;
    min-height: 57px;
    transform: translateX(-10px) translateY(0px);
  }
  
  .list-Designer-big li {
    display: inline-block;
    list-style-type: none;  
  }
  
  
  .list-skills-big
  {
    margin: 0; padding: 0;
    max-width: 100%;
    min-height: 100%;
    transform: translateX(-10px) translateY(-35px);
  }
  
  .list-skills-big li {
    display: inline-block;
    list-style-type: none; 
  }
    
  li::after {
      content: "/"
  }
  
  li:last-child::after {
      content: ""
  }
  
  .img-Designer-middle-box {
    background-color: #d9cacb;
    width: 319px;
    max-width:100%;
    min-height: 439.46px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/stil-P1.webp);
    transform: translateX(0px) translateY(35px); 
  
  }

  .img-Designer-middle {
    display: flex;
    margin-left: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    
  }
  
  .name_designer_middle{
    transform: translateX(0px) translateY(60px);  
  }
  
  .list-Designer-middle {
    margin: 0; padding: 0;
    max-width: 80%;
    height: 57px;
    transform: translateX(0px) translateY(60px);
  }
  
  .list-Designer-middle li {
    display: inline-block;
    list-style-type: none; 
  }
  
  .list-skills-middle
  {
    margin: 0; padding: 0;
    max-width: 80%;
    transform: translateX(0px) translateY(20px);
  }
  
  .list-skills-middle li {
    display: inline-block;
    list-style-type: none; 
  }
  
  .img-Designer-right {
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    width: 320px;
    max-width: 100%;
    min-height: 439.46px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translateX(0px) translateY(55px);
    background-color: #d9cacb;
    background-image: url(../images/stil_mv.webp);
    
  }
  
  .name_designer_right {
    max-width: 70%;
    transform: translateX(20px) translateY(75px);  
  }
  
  .list-Designer-right {
  margin: 0; padding: 0;
  max-width: 80%;
  height: 57px;
  /* textLouisse block font*/
  transform: translateX(20px) translateY(75px);
  }
  
  .list-Designer-right li {
    display: inline-block;
    list-style-type: none;  
  }
  
  .list-skills-right
  {
    margin: 0; padding: 0;
    max-width: 77%;
    height: 57px;
    transform: translateX(20px) translateY(40px);
  }
  
  .list-skills-right li {
    display: inline-block;
    list-style-type: none;  
  }

  .wrapper_testimonials {
    max-width: 1440px;
    margin:0px auto;
  }

  .Testimonials {
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap:0px;
    margin-top: 0px;  
  }
  
  .Testimonials-title {
    display:block;
    position: absolute;
    /* Testimonials block font*/
    font-display: swap;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    top: 0;
    left: 9%;
    transform: translateX(0px) translateY(0px);
    color: #000000;
  }

  .Testimonials__site-title {
    position: relative;
    grid-row: 1 / 8;
    grid-column: 1 / 2;
    height: 757px;
    display: block;
    margin-left: 6rem;
    padding-right: 50px;
  }

  .Testimonials__site-title_block {
    display:block;
  }
  
  .testimonials-site-link {
    display:block;
    max-width: 100%;
    font-weight: 400;
    font-display: swap;
    writing-mode: vertical-rl;
    transform: translate(0rem, 0rem) rotate(0deg);
  }
  
  .item-testimonials-top {
    grid-area: 1 / 1 / 4 / 2;
    transform: translate(0rem, 0rem);
    width: 49px;
    height: 186px;
  }
  
  .sub-position-top {
    writing-mode: vertical-rl;
    position: absolute;
    right: -50%;
    top: 70%;
    padding-bottom: 0%;
    transform: rotate(180deg) translate(0rem, -1rem); 
  }
  
  .subtitle-name {
    display: block;
    /* item-testimonials-link block font*/
    font-weight: 700;
    font-display: swap;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #000000;
    padding-left: 0%;
  }
  
  .item-testimonials-middle {
    grid-area: 4 / 1 / 6 / 2;
    transform: translate(0rem, 0rem); 
    width: 49px;
    height: 186px;
  }
  
  .sub-position-middle {
    writing-mode: vertical-rl;
    position: absolute;
    margin-left: 65%;
    margin-bottom: 0%;
    transform: rotate(180deg) translate(0rem, -11rem); 
  }
  
  .item-testimonials-bottom {
    grid-area: 7 / 1 / 9 / 2; 
    transform: translate(0rem, 0rem);
    width: 49px;
    height: 186px;
  }
  
  .sub-position-bottom {
    position: absolute;
    writing-mode: vertical-rl;
    margin-left: 65%;
    margin-bottom: 0%;
    transform: rotate(180deg) translate(0rem, -14rem); 
  }
  
  .a_testimonials {
    text-decoration: none;
    color: black;
  }
  
  .a_testimonials:focus {
    animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  .a_testimonials:hover {
    
    animation: text-shadow-drop-bl 0.6s both;
    text-decoration: underline;
    color: #0c30e6;
  }

  .a_testimonials:active {
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  @keyframes text-blur-out {
    0% {
      filter: blur(0.01);
    }
    100% {
      filter: blur(12px) opacity(0%);
    }
  }

  @keyframes text-shadow-drop-bl {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: -6px 6px 18px rgba(0, 0, 0, 0.35);
    }
  }

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  .item-testimonials-big-image {
    grid-area: 1 / 2 / 9 / 5;
    align-self: start;
  }
  
  .big-frame-Testimonials{
    display: block;
    max-width: 100%;
    height:auto;
    padding-top: 50px;
  }
  
  .img-left-Testimonials{
    max-width: 84%;
    min-height: 757px;
    transform: translate(0rem, 0rem);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-image: url(../images/keghan-crossland.webp);
  }

  .img-left-Testimonials:hover {
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes shadow-drop-center {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  
  
  .item-testimonials-article {
    grid-area: 1 / 5 / 5 / 7;
    align-self: start;
  }
  
  .article-box {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .article-testimonials{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    padding-bottom: 20px;
    transform: translateX(-15px) translateY(60px);
    /* article-testimonials block font*/
    font-family: 'Bitter';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  
    color: #000000;
  }
  
  .item-testimonials-small-img {
    grid-area: 5 / 5 / 9 / 7;
    align-self: start;
  
  }
  
  .right-img-box {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 0px;
  }
  
  .img-right-Testimonials {
    max-width: 100%;
    min-width: 100%;
    max-height: 333px;
    min-height: 333px;
    transform: translateX(-20px) translateY(0px);
    margin-top: -10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/sinitta-leunen.webp);
  }

  .img-right-Testimonials:hover {
    animation: swing-out-left-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
  }

  @keyframes swing-out-left-bck {
    0% {
      transform: rotateY(100deg);
      transform-origin: left;
      opacity: 0;
    }
    100% {
      transform: rotateY(0);
      transform-origin: left;
      opacity: 1;
    }
  }  

.wrapper_strongpoints {
  max-width: 1686px;
  margin: 100px auto;
}

.grid-strongpoints {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: auto;
  margin-top: 0px;
}

.grid-strongpoints > div{
  margin: 30px; 
}
  
  @supports (display: grid) {
    .grid-strongpoints {
      position: relative;
      display: -ms-grid;
      display: grid;
      grid-column-gap: 30px;
      overflow: auto;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      grid-auto-flow: column;
    }
    
    .grid-strongpoints > div {
      margin: 30px;
    }
  }

.strong-txt-title {
  display: inline-block;
  width: 23px;
  height: 122px;
  margin: 0% 70% 100% 0%;
  /*h3 strong-txt-title font*/
  font-display: swap;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg) translate(60px, 165px);
      -ms-transform: rotate(180deg) translate(60px, 165px);
          transform: rotate(180deg) translate(60px, 165px); 
}

.strongpoints-title {
  max-width: 377px;
  min-height: 115px;
  margin: 0% 0%;
  -webkit-transform: translate(0px, -30px);
  -ms-transform: translate(0px, -30px);
          transform: translate(0px, -30px);
  font-family: 'Playfair Display';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  font-size: 86px;
  line-height: 115px;
  color: #000000;
}

.imgstrong-liberadzki {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
            justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 525px;
  min-width:350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #d9cacb;
  background-image: url(../images/dawid-liberadzki.webp);
}

.imgstrong_position_left {
  -webkit-transform: translate(70px, 120px);
      -ms-transform: translate(70px, 120px);
          transform: translate(70px, 120px);
}

.imgstrong-avery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 525px;
  min-width: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #d9cacb;
  background-image: url(../images/avery-klein.webp);
}

.imgstrong_position_next {
  -webkit-transform: translate(60px, 120px);
      -ms-transform: translate(60px, 120px);
          transform: translate(60px, 120px);
 }

.imgstrong_position_last {
  -webkit-transform: translate(0px, 120px);
      -ms-transform: translate(0px, 120px);
          transform: translate(0px, 120px);
 }

.frame-txt-strongpoints {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 665px;
  min-width:395px;
  gap: 30px;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.list-strongpoints {
  display: block;
  -webkit-transform: translate(-20px, -30px);
  -ms-transform: translate(-20px, -30px);
      transform: translate(-20px, -30px);
}

.list-item-strongpoints {
  display: block;
  list-style-type: none;
  position: relative;
  font-family: 'Bitter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  color: #000000;
}

.list-item-strongpoints::after {
  content: "";
}

.bottom_menu {
  margin:-95px auto;
  max-width: 100%;
}

.flex_bottom_menu {
  position: relative;
  display: none;
  flex-flow: row nowrap;
}


@media screen and (max-width:768px) {

  .biography {
    flex-flow: row wrap-reverse; 

  }

  .image_biography {
    max-width: 450px;
    min-height: 400.54px;
    background-size: cover;
    padding-top: 0px;
    transform: translate(0px, 30px); 
  }

  .biographytext {
    position: absolute;
    top: -11%;
    right: 5%;
    font-size: 18px;
    line-height: 21px; 
    transform: rotate(0deg); 
    order: 1;  
    transform: translate(0px, 0px);
  }

  .bio-txt-section {
    flex-flow: row wrap;
  }

  .biography-title {
    margin: 0;
    padding: 0;
    order: -1;
    font-weight: 400;
    font-size: 64px;
    line-height: 85px; 
    margin-bottom: 72px;
    transform: translate(0px, 110px); 
  }

  .bio_title_block {
    flex: 1 1 auto;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
  }

  .biography-title::before {
    content: "-";
  }

  .biography-title br {
    display: none;
  }

  .articlebio {
    position:relative;
    flex-basis: 90%;
    margin-bottom: 72px;
    order: -1;
    font-weight: 300;
    padding-left: 20px;
    padding-top: 30px;
    width:100%;
    font-size: 30px;
    line-height: 36px;
    transform: translate(0, 15px);
    color: #000000;
  }

  .articlebio br {
    display: none;
  }

  .bio_position {
    order: -1;
    padding: 0;
    transform: translate(15px, -100px);
  }

  .list-bio {
    position: absolute;
    padding-bottom : 0px;
    margin-bottom: 0px;
    transform: translate(25px, -80px);
    order: -1;
  }

  .list-item-bio {
    display:block;
    list-style-type: none;
  }

  .list-item-bio::after {
    content: ""
  }

  .list-item-bio::before {
    display: flex;
    content: "";
    width: 2%;
    height: 2px;
    margin: 0% -3% 0%;
    transform: translate(0px, 10px);
    background: #0D0D0D; 
  }

  .articlebio::before {
    display: none;
  }

    .designers-title {
    position: absolute;
    left: 2%;
    margin-bottom: -25px;
    writing-mode: horizontal-tb;
    transform: rotate(0deg) translateX(0px) translateY(-50px);
  }

  .img-Designer-middle-box{
    transform: translateX(0px) translateY(0px);  
  }

  .item-designer-big{
    flex-basis: 33%;
    transform: translateX(0px) translateY(0px);
  }

  .img-Designer-box {
    width: 320px;
    max-width: 100%;
    min-height: 439.46px;
    background-position: 30% center;
    background-size: auto auto;
  }

  .list-box-big{
    padding-left: 0%;
  }

  .name_designer_middle{
    transform: translateX(-10px) translateY(0px);  
  }
  
  .list-Designer-middle {
    transform: translateX(-10px) translateY(0px);
  }

  .list-skills-middle
{
  max-width: 100%;
  transform: translateX(-10px) translateY(-35px);
}

.item-designer-middle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.img-Designer-middle-box{
  transform: translateX(-10px) translateY(-20px); 
}
  
.img-Designer-right {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  transform: translateX(0px) translateY(0px);
}

.item-designer-middle > div {
  margin-left: 20px;
}

.name_designer_right {
  max-width: 70%;
  transform: translateX(0px) translateY(20px);  
}

.list-Designer-right {
transform: translateX(0px) translateY(20px);
}

.list-skills-right
{
  max-width: 100%;
  transform: translateX(0px) translateY(-15px);
}

.Testimonials {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  margin: 0;
  padding:0 18px 0 18px;
  gap: 0;
  justify-content: center;
  align-items: center;

}

.Testimonials-title {
  width: 109px;
  height: 21px;
  top: 0%;
  right: 0%;
  left: 70%;
  bottom: 0%;
  padding-right:10px;
  margin:0;
  transform: translateX(0px) translateY(-150px);
}

.item-testimonials-article {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  order:5;
  align-self: center;
  margin: 0;
  padding: 0;
}

.article-testimonials {
  margin-top: -30%;
  transform: translateX(0px) translateY(0px); 
}

.article-box {
  max-width: none;
  min-height: none;
}

.article-testimonials br {
  display:none;
}

.item-testimonials-small-img {
 grid-row: 2 / 3;
 grid-column: 1 / 3;
 order:4;
 padding-right: 0px;
 padding-left: 0px;
 align-self: center;
 justify-content: center;
}

.img-right-Testimonials {
  margin-top: -20%;
  background-size: cover;
  transform: translateX(0px) translateY(0px);
}

.img-right-Testimonials {
  max-width: 100%;
  width:410px;
  background-size: cover;
  background-position: center;
  transform: translateX(0px) translateY(0px);
}

.Testimonials__site-title {
  order: -1;
  margin-left: 0rem;
  padding-right: 0rem;
  height: 96px;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  justify-content: center;
}

.Testimonials__site-title_block {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.item-testimonials-top {
  height: 31px;
  flex: 1 0 33%;
  transform: translate(0px, 0px);
}

.item-testimonials-middle {
  flex: 1 0 33%;
  height: 31px;
  transform: translate(0rem, 0rem);
}

.testimonials-site-link {
  writing-mode:horizontal-tb;
  transform: translate(0rem, 0rem) rotate(0deg);
}

.sub-position-top {
  left: 0%;
  top: 0%;
  right: 0%;
  writing-mode:horizontal-tb;
  transform: translate(0rem, 0rem) rotate(0deg); 
}

.sub-position-middle {
  margin-left: 0;
  writing-mode:horizontal-tb;
  transform: translate(0rem, 0rem) rotate(0deg);
}

.sub-position-bottom {
  writing-mode:horizontal-tb;
  margin-left: 0;
  transform: translate(0px, 0px) rotate(0deg); 
}

.item-testimonials-bottom {
  flex: 1 0 50%;
  height: 31px;
  margin-top: 9%;
  transform: translate(0rem, 0rem);
}

.item-testimonials-big-image {
  display: none;
}

.wrapper_strongpoints {
  margin: 0px auto; 
}

.grid-strongpoints {
  margin-top: 0px;
}

.frame-txt-strongpoints {
  order: -1;
  height: 526px;
  min-width:280px;
  align-items: flex-start;
}
.list-item-strongpoints {
  font-size: 24px;
  line-height: 37px; 
}

.list-strongpoints {
  transform: translate(0px, -20px); 
}

.strongpoints-title {
  top: 0;
  left: 1%;
  font-size: 64px;
  line-height: 86px;
  transform: translate(-25px, 35px);
}

.strong-txt-title {
  position:absolute;
  left: -70%;
  top: -5%;
  margin:0;
  width: 122px;
  height: 21px;
  writing-mode: horizontal-tb; 
  transform: rotate(0deg) translate(-100%, -100px);
}

.imgstrong-liberadzki{
  height: 450px;
  min-width:300px;
}

.imgstrong-avery {
  height: 450px;
  min-width:300px;
}

.imgstrong_position_left {
  transform: translate(-150px, 90px); 
}

.imgstrong_position_next {
  transform: translate(-150px, 90px);
}

.imgstrong_position_last {
  transform: translate(-150px, 90px);
}

}

@media screen and (max-width:480px) {

  .menu {
    display: none;
  }


  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 767px;
    background-color: #d9cacb;
    background-position: 10% bottom;
    padding-bottom: 0px;
    margin-bottom: 160px;
    background-size:764px;
  } 

  .frame-hero {
    width: 100%;
    padding-top: 0px;
    top:22%;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }

  .hero-title {
    margin:0;
    padding-top: 130px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 70px;
    line-height: 5rem;
  }

  .hero-text {
    font-size: 18px; 
  }

  .articlebio {
    position: relative;
    flex-basis: 90%;
    margin-bottom: 72px;
    order: -1;
    padding: 0px 20px 0 20px;
    width: 100%;
}

  .item-designer-big {
    flex-basis: 33%;
    transform: translateX(0px) translateY(0px);
  }  

  .img-Designer-box {
    width: 320px;
    max-width: 100%;
    min-height: 439.46px;
  }

  .designers-title {
    left: 2%;
    padding-left: 0%;
    padding-top: 0%;
    writing-mode: horizontal-tb;
    transform: rotate(0deg) translateX(0px) translateY(-50px);
  }

  .list-box-big{
    padding-left: 0%;
  }

  .Testimonials {
    height: 705px;
  }

  .Testimonials-title {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    top: -70%;
    padding:0 18px 0 18px;
    transform: translate(-90px, -50px);
  }

  .item-testimonials-small-img {
    transform: translateX(0px) translateY(-5px); 
  }

  .img-right-Testimonials {
    margin-top: -70%;
  
  }

  .Testimonials__site-title {
    margin-top: -70%;
  }
  
  .item-testimonials-article {
    order:5;
    align-self: center;
    margin-top:-60%;
    padding-bottom: 0px;
    transform: translateX(0px) translateY(0px);
  }

  .item-testimonials-top {
    margin:0;
    margin-left: 0;
    transform: translate(0rem, 0rem);
  }

  .item-testimonials-middle {
    transform: translate(0rem, 0rem);
  }

  .item-testimonials-bottom {
    transform: translate(0rem, 0rem);
  }

  .wrapper_strongpoints {
    margin: 0px auto;
  }

  .grid-strongpoints {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: -30%;
  }

  .bottom_menu {
    margin: 30px auto;
  }

  .text_symbol {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  }

  .flex_bottom_menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .footer_href {
    text-decoration: none;
    color: #000000;
  }
  .footer_href:hover {
    text-decoration:underline;
  }

  .bottom_item {
    display: flex;
    flex: 1 1 24%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #000000;
  }
}

@media screen and (max-width:375px) {
  .item-testimonials-middle {
    flex: 1 0 60%;
    margin-top: 20px;
  }

  .item-testimonials-top {
    flex: 1 0 60%;
  }

  .item-testimonials-bottom {
    flex: 1 0 70%;
  }

  .articlebio {
    font-size: 28px;
  }

  .article-testimonials {
    font-size: 28px;
    margin-top: -40%;
  }
}